body {
    background-color: #c5c1c0;
  }

  h3 {
    font-size: 3em;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
  }
  
  span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }